* {
  box-sizing: border-box;
}

.addButton {
  background-color: rgb(127,195,121);
  color: rgb(255,255,255);
  display: inline-block;
  height: 100%;
  -webkit-appearance: initial;
  width: 14%;
}

.body {
  background-color: rgb(255,255,255);
  border-color: rgb(0,0,0);
  border-style: double;
  height: auto;
  margin: 0 auto;
  width: 750px;
}

.checkbox {

}

.giftcard {
  display: inline-block;
  height: 30px;
  width: 100%;
}

.listForm {
  display: inline-block;
  height: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.listTitle {
  text-align: center;
}

.itemName {
  display: inline-block;
  font-size: 24px;
}

.main {
  background-color: rgb(245,245,245);
  background: #eee;
  background-color: rgb(245,245,245);
  box-shadow:
        0 1px 1px rgba(0,0,0,0.15),
        0 10px 0 -5px #eee,
        0 10px 1px -4px rgba(0,0,0,0.15),
        0 20px 0 -10px #eee,
        0 20px 1px -9px rgba(0,0,0,0.15);
  display: inline-block;
  margin-top: 30px;
  width: 100%;
}

.strikethrough {
  color: rgb(252,98,93);
  font-style: italic;
  text-decoration: line-through;
}

.total {
  font-size: 24px;
}

.totalAmount {
  display: inline-block;
}

.userGiftInput {
  display: inline-block;
  font-size: 100%;
  font-style: italic;
  height: 100%;
  width: 85%;
}


.value {
  display: inline-block;
  font-size: 24px;
  float: right;
  margin: 16px;
}
