* {
  box-sizing: border-box;
}
body {
  background: rgb(248,248,248);
  margin: 0;
}

.jason__dog {
  border-radius: 50px;
  margin-right: 15px;
  margin-top: 15px;
  width: 25px;
  border
}

.top__navi {
  background: rgb(255,255,255);
  height: 60px;
}

.top__navi__links {
  display: inline-block;
  float: right;
  vertical-align: top;
}

/* 140 x 90*/
.top__navi__logo {
  height: 60px;
}

.top__navi__srch {
  border-right-style: none;
  display: inline-block;
  margin-top: 15px;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  vertical-align: top;
}

.top__navi__submit {
  background-color: rgb(248,248,248);
  height: 28px;
}
.top__navi__upload {
  background-color: rgb(248,248,248);
  border-color: rgb(206,206,206);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  color: rgb(0,0,0);
  height: 5px;
  margin: 30px;
  padding: 5px;
  text-decoration: none;

}
/* 1,060 x 50 I don't think these measurements are right */
.top__srch__bar {
  height: 25px;
  margin-right: -5px;
  width: 465px;
}
header {
  align-self: center;
}
