* {
  box-sizing: border-box;
}

.bio {
  font-size: 12px;
  margin-left: 10px;
  margin-top: 0;
}

body {
  background: rgb(241,241,241);
  margin: 0;
}

.boxes {
  height: 90px;
  margin-left: 10px;
  width: 350px;
}

.comments {
  background-color: rgb(255,255,255);
  display: inline-block;
  vertical-align: bottom;
  margin-top: 5px;
  height: initial;
  width: 640px;
}
/* 700 x 750*/
.content__body {
  display: inline-block;
  vertical-align: top;
  height: 750px;
  margin-left: 142px;
  margin-right: 8px;
  margin-top: 7px;
  width: 650px;
}

.date__stamp {
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 14px;
}

.description {
  background-color: rgb(255,255,255);
  border-top-color: rgb(221,221,221);
  border-top-width: thin;
  width: 640px;
}
/* 270 x 55 */
.google__ad {
  height: 55px;
  margin-left: 7px;
  margin-top: 9px;
  width: 270px;
}

.images {
  height: 82px;
  width: 150px;
}

.jason__dog {
  border-radius: 50px;
  margin-bottom: -14px;
  margin-right: 15px;
  margin-top: 15px;
  width: 25px;
}

.kittie {
  height: 40px;
  width: 40px;
}

.link__text {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;
  margin-top: 5px;
  width: 196px;
  height: 33px;
  color: rgb(0,0,0);
}

.main__content {
  display: inline-block;
  width: 1440px;
}

.options{
  display: inline-block;
  height: 40px;
  margin-left: 10px;
  width: 360px;
}

.option2 {
  display: inline-block;
  float: right;
}

.show__more {
  display: inline-block;
  background-color: rgb(255,255,255);
  border-left-style: none;
  border-bottom-style: none;
  border-color: rgb(221,221,221);
  border-right-style: none;
  border-top-style: inset;
  border-width: thin;
  vertical-align: top;
  width: 100%;
}

.textContent {
  background-color: rgb(255,255,255);
  display: -webkit-inline-box;
  height: 135px;
  width: 640px;
}
.title {
  font-size: 18px;
  font-weight: 500;
  height: 35px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.top__navi {
  background: rgb(255,255,255);
  height: 40px;
}

.top__navi__links {
  display: inline-block;
  float: right;
  vertical-align: top;
}

/* 140 x 90*/
.top__navi__logo {
  height: 54px;
  width: 100px;
  margin-left: 40px;
  padding-bottom: 4px;
}

.top__navi__srch {
  border-right-style: none;
  display: inline-block;
  margin-top: 7px;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 55px;
  vertical-align: top;
}

.top__navi__submit {
  background-color: rgb(248,248,248);
  height: 28px;
}
.top__navi__upload {
  align-items: center;
  background-color: rgb(248,248,248);
  border-color: rgb(206,206,206);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  color: rgb(0,0,0);
  height: 5px;
  margin-right: 30px;
  /* I tried to change the margin-bottom to like 50px to see if it will align the Upload with the pic -- wait, I think I may have answered my question*/
  padding: 3px;
  text-decoration: none;
}
/* 1,060 x 50 I don't think these measurements are right */
.top__srch__bar {
  height: 25px;
  margin-right: -5px;
  width: 465px;
}

.upNext {
  display: inline-block;
  font-size: 0.8625em;
  width: 100px;
}
/* 375 x 500 */
.video__suggestions {
  background-color: rgb(255,255,255);
  display: inline-block;
  height: 730px;
  width: 375px;
  margin-top: 7px;
}
