
body {
  background: DarkGrey;
  margin: 0;
}

.top__navi {
  background: White;
  height: 90px;
}
/* 140 x 90*/
.top__navi__logo {
  height: 60px;
}

.top__navi__srch {
  display: inline-block;
  vertical-align: top;
}
/* 1,060 x 50 I don't think these measurements are right */
.top__srch__bar {
  height: 25px;
  width: 465px;
}
